/* Стили для контейнера header */
body{
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    align-items: center; /* Центрирование элементов по вертикали */
}

/* Стили для левого блока с текстом location */
.location {
    color: #333;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
s
/* Стили для контейнера с бонусами */
.bonus-container {
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
    gap: 10px;           /* Расстояние между текстом и фиолетовым контейнером */
}

/* Стили для текста "Бонусы" */
.bonus-text {
    font-size: 16px;
    color: #333;
}

/* Стили для фиолетового контейнера */
.bonus-box {
    display: flex;
    align-items: center;
    background-color: #800080;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

/* Стили для иконки внутри фиолетового контейнера */
.bonus-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Стили для значения бонусов */
.bonus-value {
    font-weight: bold;
}

.city {
    font-size: 14px;
    color: #666; /* Более светлый цвет для выделения */
    font-weight: bold; /* Жирный шрифт */
}

/* Стили для текста "Москва, Снежная 19" */
.address {
    font-size: 16px;
    color: #333;
}

/* Основной контейнер */
.container {
    height: 100px;
    padding-bottom: 10px;
}

/* Контейнер для горизонтальной прокрутки */
.scroll-container {
    height: 100%;
    display: flex;  /* Используем flex для горизонтального ряда */
    gap: 10px;  /* Расстояние между карточками */
}

/* Стили для карточек */
.card {
    min-width: 100%;  
    /* height: 50%;  Высота карточки */
    background-color: #f6f6f6;  /* Цвет фона карточки */
    display: flex;  /* Flex для центрирования текста */
    align-items: center;
    justify-content: center;
    border-radius: 10px;  /* Скругленные края */
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;  /* Текст не переносится */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Прокрутка скрывает полосы, но доступна мышью */
.container::-webkit-scrollbar {
    display: none;
}

/* Стили для формы */
.form-container {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    align-items: center; /* Центрирование элементов по вертикали */
    font-family: Arial, sans-serif;
}

/* Стили для текстового поля */
input[type="text"] {
    padding-left: 5px;
    height: 40px;
    width: 90%; /* Ширина на всю строку */
    border: 1px solid #ccc;
    border-radius: 5px;
}


.filter-box {
    width: auto;
    height: auto;
    display: flex;
    background-color: #f6f6f6;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.filter-icon {
    width: 35px;
    height: 3px;
}

.category-text {

    padding-top: 20px;
    font-size: 16px;
    color: #333;
}

.category-card{
    min-width: 90%;  
    height: 50%;  /* Высота карточки */
    background-color: #f6f6f6;  /* Цвет фона карточки */
    display: flex;  /* Flex для центрирования текста */
    align-items: center;
    justify-content: center;
    border-radius: 10px;  /* Скругленные края */
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;  /* Текст не переносится */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.selections {
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
    gap: 15px; /* Расстояние между карточками */
    width: 90%; /* Ограничиваем ширину контейнера */
    margin: 0;
}


.grid-item {
    width: 75px; /* Фиксированная ширина */
    height: 75px;
    position: relative;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Выровнять содержимое по центру горизонтально */
    aspect-ratio: 1 / 1; /* Сохраняет квадратную форму */
}

.grid-item img {
    width: 80%; /* Увеличиваем иконку до 80% от ширины контейнера */
    height: auto; /* Сохраняем пропорции изображения */
    margin-bottom: 10px; /* Добавляем отступ между изображением и текстом */
}

.grid-item p {
    font-size: 16px;
    margin: 0;
    text-align: center; /* Выравнивание текста по центру */
}

.grid-item:hover {
    transform: scale(1.05);
}




@media (max-width: 100%) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд на маленьких экранах */
    }
}

@media (max-width: 100%) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд на самых маленьких экранах */
    }
}

.recommended-shops{
    padding-left: 10px;
    display: flex;
    border-radius: 10px;
}

.avatar-icon{
    width: 80px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.name-col{
    display: grid;
    gap: 0px;
    padding: 0;

}

.name-col-shop{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 0px;  /* Центрирование по горизонтали */
    padding-left: 10px;
    display: grid;
    gap: 0px;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Более сильная и размытая тень */

}

.shop-card-text{
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.raiting-text{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 23px;
}

.filter-row{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px; 
}

.container-filter{
    background-color: #7d1469;
    border-radius: 10px;
    padding: 5px 5px;
}

.bonus-text-shop{
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
    font-size: 13px;

}

.container-filter-black{
    background-color: #f6f6f6;
    border-radius: 10px;

}

.bonus-text-shop-black{
    white-space: nowrap;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
}

.scroll-container-shop{
    display: flex;
    overflow-x: auto;  /* Добавляем горизонтальную прокрутку */
    gap: 10px;         /* Расстояние между элементами */
    padding: 10px 0; 
    scroll-behavior: smooth;  /* Плавная прокрутка */
    -ms-overflow-style: none;  /* Убираем полосы прокрутки в IE и Edge */
    scrollbar-width: none;     /* Убираем полосы прокрутки в Firefox */
  /* Отступы сверху и снизу */
}


.scroll-container {
    display: flex;
    overflow-x: auto;  /* Добавляем горизонтальную прокрутку */
    gap: 10px;         /* Расстояние между элементами */
    padding: 10px 0; 
    scroll-behavior: smooth;  /* Плавная прокрутка */
    -ms-overflow-style: none;  /* Убираем полосы прокрутки в IE и Edge */
    scrollbar-width: none;     /* Убираем полосы прокрутки в Firefox */
  /* Отступы сверху и снизу */
}

.scroll-container::-webkit-scrollbar {
    display: none;  /* Убираем полосы прокрутки в Chrome, Safari, Opera */
}

.scroll-item {
    background-color: #7d1469; /* Цвет фона */
    padding: 5px 5px;        /* Внутренние отступы */
    border-radius: 20px;       /* Скругленные края */
    white-space: nowrap;       /* Запрещаем перенос текста */
    font-size: 14px;           /* Размер текста */
    cursor: pointer;           /* Курсор при наведении */
}

.scroll-item-cel{
    background-color: #dbc51e; /* Цвет фона */
    padding: 5px 5px;        /* Внутренние отступы */
    border-radius: 20px;       /* Скругленные края */
    white-space: nowrap;       /* Запрещаем перенос текста */
    font-size: 14px;           /* Размер текста */
    cursor: pointer;           /* Курсор при наведении */
}

.images-row {
    display: grid;
    padding-bottom: 0px;
    grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */
    gap: 4px; /* Расстояние между элементами - 1px */
    padding-bottom: 0; /* Убираем внутренние отступы у родителя */
    margin-bottom: 0; /* Убираем внешние отступы у родителя */
}

.images-shop-container {
    position: relative; /* Относительное позиционирование для контейнера */

    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%; /* Контейнер занимает всю ширину колонки */
}

.image-shop {
    width: 100%;   /* Изображение заполняет весь контейнер по ширине */
    height: auto;  /* Сохраняем пропорции изображения */
    border-radius: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px; /* Скругляем углы */
}

.price-tag {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 10px; /* Расположить 10px от нижней части изображения */
    left: 50%; /* Центрирование по горизонтали относительно контейнера */
    transform: translateX(-50%);
    background-color: #7d1469; /* Фиолетовый фон */
    color: #fff; /* Белый текст */
    padding: 5px 10px; /* Внутренние отступы для блока с ценой */
    border-radius: 5px; /* Скругленные углы */
    font-size: 14px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    text-align: center; /* Центрирование текста внутри блока */
}


.сheck-mark{
    width: 10px;
    height: 10px;
    position: absolute; /* Абсолютное позиционирование */
    bottom: 10px; /* Расположить 10px от нижней части изображения */
    left: 50%; /* Центрирование по горизонтали относительно контейнера */
    background-color: #7d1469; /* Фиолетовый фон */
    color: #fff; /* Белый текст */
    padding: 5px 10px; /* Внутренние отступы для блока с ценой */
    border-radius: 5px; /* Скругленные углы */
    font-size: 14px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    text-align: center; /* Центрирование текста внутри блока */
}

.checkmark-container {
    position: absolute; /* Абсолютное позиционирование для галочки */
    top: 5px; /* Расположим галочку 10px сверху */
    left: 10px; /* Расположим галочку 10px от правого края */
    background-color: #c0c0c0; /* Серый фон */
    padding: 1px; /* Внутренние отступы */
    border-radius: 10px; /* Круглый фон */
}

.checkmark-icon {
    width: 20px; /* Ширина изображения галочки */
    height: 20px; /* Высота изображения галочки */
}

.flow-row{
    margin-left: 10px;
    display: flex;
    overflow-x: auto;  /* Добавляем горизонтальную прокрутку */
    gap: 10px;         /* Расстояние между элементами */
    padding: 10px 0; 
    scroll-behavior: smooth;  /* Плавная прокрутка */
    -ms-overflow-style: none;  /* Убираем полосы прокрутки в IE и Edge */
    scrollbar-width: none;     /* Убираем полосы прокрутки в Firefox */
  /* Отступы сверху и снизу */
}

.flow-card{
    display: grid;
    width: 33%;
    padding-bottom: 10px;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-flow-card{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    align-items: center; /* Центрирование элементов по вертикали */
}

.bottom-menu {
    position: fixed; /* Меню фиксируется внизу экрана */
    bottom: 0; /* Расположено внизу */
    width: 100%; /* Меню занимает всю ширину экрана */
    background-color: #ffffff; /* Фон меню */
    display: flex; /* Используем flex для равномерного расположения иконок */
    justify-content: space-evenly; /* Равномерное распределение иконок */
    align-items: center; /* Центрирование иконок по вертикали */
    padding: 10px 0; /* Вертикальные отступы */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Тень для объема */
    z-index: 1000; /* Высокий z-index */
}


.menu-icon {
    width: 25px; /* Ширина иконок */
    height: auto; /* Пропорциональная высота */
}

.menu-icon-cart {
    width: 27px; /* Ширина иконок */
    height: auto; /* Пропорциональная высота */
}

.tasks-icon {
    width: 27px; /* Ширина иконок */
    height: auto; /* Пропорциональная высота */
}




a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.scroll-container-shop{
    display: flex;
    overflow-x: auto;  /* Добавляем горизонтальную прокрутку */
    gap: 10px;         /* Расстояние между элементами */
    padding: 10px 0; 
    scroll-behavior: smooth;  /* Плавная прокрутка */
    -ms-overflow-style: none;  /* Убираем полосы прокрутки в IE и Edge */
    scrollbar-width: none;     /* Убираем полосы прокрутки в Firefox */
  /* Отступы сверху и снизу */
}

