[Unit]
Description=Zoo bot
After=multi-user.target
[Service]
ExecStart=/usr/bin/python3 /home/developer/Zoo_bot/main.py
Restart=always
Type=simple
WorkingDirectory=/home/developer/Zoo_bot
[Install]
WantedBy=multi-user.target